.class1 {
  font-size: large;
}

.class2 {
  font-size: large;
}

.class3 {
  font-size: large;
}

.class4 {
  font-size: large;
}

.class5 {
  font-size: large;
}

.class6 {
  font-size: large;
}

.class7 {
  font-size: large;
}

.class8 {
  font-size: large;
}

.class9 {
  font-size: large;
}

.class10 {
  font-size: large;
}

.class11 {
  font-size: large;
}

.class12 {
  font-size: large;
}

.class13 {
  font-size: large;
}

.class14 {
  font-size: large;
}

.class15 {
  font-size: large;
}

.class16 {
  font-size: large;
}

.icon-facebook {
  background: url("img/image_facebook.png");
  color: blue;
  border: 1px solid blue;
}

.icon-facebook:hover {
  background-color: black;
}

.icon-twitter {
  background: url("img/image_twitter.png");
  color: green;
  border: 1px solid green;
}

.icon-twitter:hover {
  background-color: purple;
}

.icon-youtube {
  background: url("img/image_youtube.png");
  color: orange;
  border: 1px solid orange;
}

.icon-youtube:hover {
  background-color: green;
}

.icon-linkedin {
  background: url("img/image_linkedin.png");
  color: red;
  border: 1px solid red;
}

.icon-linkedin:hover {
  background-color: blue;
}

.icon-codepen {
  background: url("img/image_codepen.png");
  color: gray;
  border: 1px solid gray;
}

.icon-codepen:hover {
  background-color: pink;
}

.icon-instagram {
  background: url("img/image_instagram.png");
  color: pink;
  border: 1px solid pink;
}

.icon-instagram:hover {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

::-moz-selection {
  background-color: #ffea00;
  color: #2a2b2f;
}

::selection {
  background-color: #ffea00;
  color: #2a2b2f;
}

div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

div.logo .any {
  color: #ebd9c3;
  font-size: 2.5rem;
  font-family: segoe print;
}

div.logo .gym {
  color: #d8b48a;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: segoe print;
}

div.logo img {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  margin: 2% 0 0 2%;
}

a {
  text-decoration: none;
  color: #6b6d6f;
}

a:hover {
  color: #2a2b2f;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #2a2b2f;
  padding: 38px 3px 5px 3px;
}

nav ul li a:hover {
  border-bottom: 1px solid #2d4e53;
}

nav ul li a:focus {
  color: #2a2b2f;
  border-bottom: 1px solid #2d4e53;
}

.sticky {
  padding: 5px 100px;
  background: white;
}

.sticky ul li a {
  color: black;
}

input[type="text"],
[type="password"],
[type="email"], textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

header {
  background-image: url("../../Image/aboutus/bg-about-us.jpg");
  background-attachment: fixed;
  background-position: top center;
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.logo .any {
  color: #2a2b2f;
}

header div.logo .gym {
  color: #2a2b2f;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  padding: 2%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

header .header {
  margin: 21% 0 0 12.5%;
}

header .header span.head {
  margin: 0;
  font-size: 70px;
  line-height: 74px;
  font-weight: 100;
  color: #2a2b2f;
}

section.ouradvantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.ouradvantages .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10% 0;
  width: 80%;
}

section.ouradvantages .content div.cont {
  width: 27%;
  margin: 1%;
}

section.ouradvantages .content div.cont div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 3% 0;
}

section.ouradvantages .content div.cont div img {
  margin: 1% 0;
}

section.ouradvantages .content div.cont div span {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #2a2b2f;
  font-weight: normal;
  font-size: 18px;
  margin: 0 4%;
}

section.ouradvantages .content div.cont p {
  font-size: 14px;
  line-height: 25px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #6b6d6f;
  background-color: #fff;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100% !important;
}

section.ouradvantages .content .title span {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: #2a2b2f;
}

section.subscribe .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.subscribe .content .imgsub {
  width: 50%;
  height: 551px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.subscribe .content .imgsub div {
  width: 50%;
}

section.subscribe .content .imgsub div span {
  color: #2a2b2f;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: normal;
}

section.subscribe .content .imgsub div p {
  font-size: 14px;
  line-height: 25px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 5% 0;
}

section.subscribe .content .imgsub div a {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #c5c2c2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 12px 35px !important;
  border-radius: 4px;
  font-size: 13px;
  letter-spacing: 0.5px;
  outline: none !important;
  text-decoration: none;
  cursor: pointer;
}

section.subscribe .content .online {
  background-image: url("../../Image/aboutus/fes12-1.jpg");
}

section.subscribe .content .online div span {
  color: #fff;
}

section.subscribe .content .online div p {
  color: #fff;
}

section.subscribe .content .online div a {
  border-color: #fff;
  color: #fff;
}

section.subscribe .content .online div a:hover {
  color: #2a2b2f;
  background-color: white;
}

section.subscribe .content .inGym {
  background-image: url("../../Image/aboutus/fes12-2.jpg");
}

section.subscribe .content .inGym div p {
  color: #2a2b2f;
}

section.subscribe .content .inGym div a {
  border-color: #2a2b2f;
  color: #2a2b2f;
}

section.subscribe .content .inGym div a:hover {
  color: white;
  background-color: #2a2b2f;
}

section.ourcoaches .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.ourcoaches .content .coatches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.ourcoaches .content .coatches .coatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.ourcoaches .content .coatches .coatch .pic {
  border-radius: 50%;
  width: 23vmax;
  height: 23vmax;
  background-color: #bdbdbd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

section.ourcoaches .content .coatches .coatch span {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 5px;
  position: relative;
  color: #2a2b2f;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

section.ourcoaches .content .coatches .coatch p {
  margin: 3% 0 5% 0;
  text-align: center;
  line-height: 25px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #6b6d6f;
}

section.ourcoaches .content .coatches .coatch .socialmedia i {
  color: #6b6d6f;
  cursor: pointer;
}

section.ourcoaches .content .coatches .coatch .socialmedia i:hover {
  color: #333;
}

section.ourcoaches .content .main-coatches {
  width: 90%;
  margin: 10% 0;
}

section.ourcoaches .content .sub-coatches {
  width: 80%;
}

section.ourcoaches .content .sub-coatches .coatch .pic {
  width: 15vmax;
  height: 15vmax;
}

section.counter {
  background-color: #eee;
  color: #2a2b2f;
  width: 100%;
  padding: 5%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.slider {
  background-color: #fbf18e;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  overflow: hidden;
}

section.slider .slides {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.slider .slides input {
  display: none;
}

section.slider .slides .slide {
  width: 500%;
  height: 60vh;
  -webkit-transition: 2s;
  transition: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}

section.slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: aqua;
}

section.slider .slides #radio2:checked ~ .first {
  margin-left: -2050px;
}

section.slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: aqua;
}

section.slider .slides #radio3:checked ~ .first {
  margin-left: -6000px;
}

section.slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: aqua;
}

section.slider .slides #radio4:checked ~ .first {
  margin-left: -9000px;
}

section.slider .slides #radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: aqua;
}

section.slider .slides .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 460px 0 0 0;
}

section.slider .slides .navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

section.slider .slides .navigation-auto div:not(last-child) {
  margin-right: 40px;
}

section.slider .navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.slider .navigation-manual .manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

section.slider .navigation-manual .manual-btn:not(last-child) {
  margin-right: 40px;
}

section.slider .navigation-manual .manual-btn:hover {
  background-color: #40d3dc;
}

.sticky {
  padding: 5px 100px;
  background: white;
}

.sticky ul li a {
  color: black;
}
/*# sourceMappingURL=aboutus.css.map */